* {
  margin: 0;
}
body {
  background-color: #e2e2e2;
}
.app {
  display: flex;
  padding: 20px;
  justify-content: space-evenly;
}
.app__dropdown {
  background-color: white;
  padding-top: 10px;
}
#label {
  padding: 3px;
}
.app__left {
  flex: 0.9;
}
.app_right {
  display: flex;
  flex-direction: column;
}
.app__header {
  margin: 10px 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.table__header {
  display: flex;
  justify-content: space-between;
}
.table__header strong {
  color: black;
  font-size: 18px;
  font-family: Georgia, "Times New Roman", Times, serif;
}
.app_graph {
  margin-top: 50px;
  flex-grow: 1;
}

.card-content {
  justify-content: space-between;
}
.app__stats {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 990px) {
  .app {
    flex-direction: column;
  }
  .app_right {
    margin-top: 30px;
  }
}
@media (max-width: 500px) {
  .app__stats {
    text-align: center;
    flex-direction: column;
  }
  .table__header {
    height: 80px;
    justify-content: space-between;
    flex-direction: column;
  }
}
